a {
	color: #ffa600;
	text-decoration: none;
	border-bottom: 1px solid #ffa600;
}

a:hover {
	border-bottom: none;
}

p, a {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	color: #222;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	color: #111111;
}

.container {
	margin-left: 40px;
	margin-top: 80px;
	margin-bottom: 40px;
	max-width: 640px;
	width: 80%;
}

@media screen and (max-width: 990px) {
    .container {
    	margin-top: 40px;
        margin-left: 20px;
    }
}

.home .links {
	margin-top: 20px;
}

.home .info-block {
	margin-bottom: 80px;
}

.home ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home .links li {
	display: inline-block;
}

.home .links li a {
	font-size: 16px;
}

.post-link {
	font-weight: normal;
}
