.container {
	max-width: 700px;
	margin: auto;
	padding: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, Arial, Arial, Helvetica, sans-serif;
	line-height: 1.65;
	font-size: 1.1em;
	color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.about {
	padding-top: 80px;
    padding-bottom: 80px;
}

.about .avatar {
	display: block;
	margin: auto;
	margin-bottom: 2em;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
	color: #007aff;
    text-decoration: none;
}